<div class="dark-mode-switcher" *ngIf="displayDarkModeSwitcher">
    <div style="display: flex;align-items: center;justify-content: center;margin: 0;transition: background 0.2s linear;cursor: pointer;">
        <input [(ngModel)]="darkMode$" type="checkbox" class="checkbox" id="checkbox" (change)="onToggle()">
        <label for="checkbox" class="label" [ngStyle]="{'background-color': darkMode$ ? 'rgb(167 70 185)': 'rgb(255 248 42)'}">
            <fa-icon class="icon-style" [icon]="faMoon"></fa-icon>
            <fa-icon class="icon-style" [icon]="faSun" style="font-size: 14px;"></fa-icon>
        <div class='ball'></div>
        </label>
    </div>
</div>

<div class="main-container" [ngClass]="{'blur-effect': displayJsonFormatDialog || displayRawTextDialog || displayLanguageDetectionDialog || displayAudioRecordingDialog}">
    <div class="content">
        <div class="d-flex justify-content-center">
            <h3>Welcome</h3>
        </div>
        <div class="row d-flex justify-content-center space">
            <span class="description-style">This application aims to automatically translate JSON and raw text inputs from English to four other languages, namely Spanish, French, Greek and German. It is based on deep learning techniques and specifically Neural Machine Translation. Compared to conventional statistical and rule-based translation algorithms, Neural Machine Translation uses deep learning models to provide translation that is more accurate and sounds more human. This translation service leverages EasyNMT (https://github.com/UKPLab/EasyNMT) package for fast and accurate translations and FastAPI (https://github.com/tiangolo/fastapi)for API calls. Finally, we target to provide asynchronous batch processing, with a single API call, in order to translate large collections of JSON files in a few seconds. </span>
        </div>
    </div>
    <div class="footer">
        <span (click)="jsonFormatDialog()" pTooltip="JSON Format" style="margin-bottom: 5px;">
            <span class="icon-style" [innerHTML]="jsonIcon"></span>
        </span>
        <span (click)="rawTextDialog()" pTooltip="Raw text">
            <fa-icon class="icon-style" [icon]="faTextHeight"></fa-icon>
        </span>
        <span (click)="languageDetectionDialog()" pTooltip="Language Detection">
            <fa-icon class="icon-style" [icon]="faLanguage"></fa-icon>
        </span>
        <span (click)="audioRecordingDialog()" pTooltip="Audio Recording">
            <fa-icon class="icon-style" [icon]="faMicrophone"></fa-icon>
        </span>
    </div>
</div>

<p-dialog styleClass="glass" (onHide)="dialogClosed()" (onShow)="dialogOpened()" header="JSON Format" [maximizable]="true" [(visible)]="displayJsonFormatDialog" [style]="{'width': '80vw', 'height': '80vh', 'border': 'none'}">
    <app-json-translator [languages]="languages"></app-json-translator>
</p-dialog>

<p-dialog header="Raw Text" (onHide)="dialogClosed()" (onShow)="dialogOpened()" [maximizable]="true"[(visible)]="displayRawTextDialog" [style]="{'width': '80vw', 'height': '80vh', 'border': 'none'}">
    <app-raw-text-translator [languages]="languages"></app-raw-text-translator>
</p-dialog>

<p-dialog header="Language Detection" (onHide)="dialogClosed()" (onShow)="dialogOpened()" [maximizable]="true" [(visible)]="displayLanguageDetectionDialog" [style]="{'width': '80vw', 'height': '80vh', 'border': 'none'}">
    <app-language-detection></app-language-detection>
</p-dialog>
<p-dialog header="Audio Recording" (onHide)="dialogClosed()" (onShow)="dialogOpened()" [maximizable]="true" [(visible)]="displayAudioRecordingDialog"  [style]="{'width': '80vw', 'height': '80vh', 'border': 'none'}">
   <app-audio-recorder></app-audio-recorder>
</p-dialog>