<div class="main-container">
    <div class="content">

    </div>
    <div class="footer">
        <span (click)="jsonFormatDialog()" pTooltip="JSON Format" style="margin-bottom: 5px;">
            <span class="icon-style" [innerHTML]="jsonIcon"></span>
        </span>
        <span (click)="rawTextDialog()" pTooltip="Raw text">
            <fa-icon class="icon-style" [icon]="faTextHeight"></fa-icon>
        </span>
        <span (click)="languageDetectionDialog()" pTooltip="Language Detection">
            <fa-icon class="icon-style" [icon]="faLanguage"></fa-icon>
        </span>
    </div>
</div>

<p-dialog header="JSON Format" [modal]="true" [(visible)]="displayJsonFormatDialog" [style]="{'width': '70vw', 'height': '65vh'}">
    <div class="upload-container">
        <div class="d-flex justify-content-center">
            <h4 class="text-style">Upload file to translate</h4>
        </div>
        <div class="input-group">
            <input (change)="onFileChange($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button (click)="upload()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Convert</button>
            
        </div>
        <br/>
        <div class="d-flex justify-content-center align-items-center">
            <h5 class="text-style" style="margin-right: 5px;">Language to translate:</h5>
            <p-dropdown [options]="languages" [(ngModel)]="target_language" optionLabel="name" optionValue="value"></p-dropdown>
        </div>
    </div>
</p-dialog>

<p-dialog header="Raw Text" [maximizable]="true" [modal]="true" [(visible)]="displayRawTextDialog">
    <div class="d-flex justify-content-center" style="flex-direction: column;">
        <div class="row">
            <h4 class="text-style">Insert raw text to translate</h4>
            <textarea [(ngModel)]="rawTextToTranslate" style="background: transparent;border: 1px solid;padding: 10px" rows="5" cols="30" pInputTextarea></textarea>
        </div>
        <div class="d-flex justify-content-center align-items-center space">
            <h5 style="margin-right: 5px;">Language to translate:</h5>
            <p-dropdown [options]="languages" [(ngModel)]="target_language" optionLabel="name" optionValue="value"></p-dropdown>
        </div>
        <div class="row space" style="justify-content: center;">
            <button style="width: auto;" (click)="upload()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Submit</button>
        </div>
    </div>
</p-dialog>

<p-dialog header="Language Detection" [modal]="true" [(visible)]="displayLanguageDetectionDialog">
    <div class="d-flex justify-content-center" style="flex-direction: column;">
        <div class="row justify-content-center">
            <h4 class="text-style">Insert raw text to detect the language</h4>
            <textarea [(ngModel)]="textToDetectLanguage" style="background: transparent;border: 1px solid;padding: 10px;width: 50vw;" rows="5" cols="30" pInputTextarea></textarea>
        </div>
        <div class="row space" style="justify-content: center;">
            <button style="width: auto;" (click)="textLanguageDetection()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Detect Language</button>
        </div>
    </div>
</p-dialog>