.text-style {
    text-align: center;
}

.results {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.space {
    margin-top: 25px;
}
.textarea-style {
    min-height: 40vh;
    border-radius: 20px;
    width: 70vw;
    border: 3px solid;
    background: transparent;
}

body.light-theme {
    background: white;
    color: black;
    textarea {
        color: black;
    }
    .p-dialog {
        .p-dialog-header {
            background: transparent;
            box-shadow: 0 0 1rem 0 rgb(0 0 0 / 45%);
            border-radius: 15px 15px 0px 0px;
            border-bottom: none;
        }
    
        .p-dialog-content {
            background: transparent;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0 0 1rem 0 rgb(0 0 0 / 45%);
            border-top: 2px solid;
        }
    }
    .p-tabview-nav-container {
        background: transparent;
    }
    .p-tabview-panels {
        background: transparent;
    }
}

body.dark-mode {
    background: black;
    color: white;
    textarea {
        color: white;
    }
    .p-dialog {
        .p-dialog-header {
            color: white;
            background: transparent;
            box-shadow: 0 0 4rem 1rem rgb(255 255 255 / 45%);
            border-radius: 15px 15px 0px 0px;
            border-bottom: none;
        }
        .p-dialog-header-icons {
            button {
                color: white;
            }
        }
        .p-dialog-content {
            color: white;
            background: transparent;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0 0 5rem 2rem rgba(255, 254, 254, 0.45);
            border-top: 2px solid;
        }
    }
    .p-tabview-nav-container {
        background: transparent;
    }
    .p-tabview-panels {
        background: transparent;
    }
    .btn {
        color: white!important;
        background: black!important;
        border: 1px solid white;
    }
    .btn:hover {
        color: black!important;
        background: white!important;
    }
    .start-button {
        border: 1px solid #7ffe9f!important;
    }
    .start-button:hover {
        background: #7ffe9f!important;
        color: black;
    }
}