<div class="d-flex justify-content-center" style="flex-direction: column;">
    <div class="row" style="padding: 30px;">
        <h4 class="text-style">Insert raw text to translate</h4>
        <textarea [(ngModel)]="rawTextToTranslate" class="textarea-style"
            rows="5" cols="30" pInputTextarea></textarea>
    </div>
    <div class="d-flex justify-content-center align-items-center space">
        <h5 style="margin-right: 5px;">Language to translate:</h5>
        <p-dropdown [options]="languages" [(ngModel)]="target_language" optionLabel="name" optionValue="value">
        </p-dropdown>
    </div>
    <div class="row space" style="justify-content: center;">
        <button style="width: auto;" (click)="upload()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Submit</button>
    </div>
</div>

<div *ngIf="translationResultToDownloadText" class="d-flex space results">
    <h5 style="padding-left: unset!important">Results</h5>
    <textarea class="textarea-style" [disabled]="true" [ngModel]="translationResultToDownloadText"></textarea>
    <button (click)="downloadGeneratedTranslations()" style="width: auto;margin: 20px;"  class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Download</button>
</div>