<div class="page-wrapper">
    <div class="d-flex justify-content-center">
        <h3>Welcome</h3>
    </div>
    <div class="row d-flex justify-content-center space">
        <span class="description-style">This application aims to automatically translate JSON and raw text inputs from English to four other languages, namely Spanish, French, Greek and German. It is based on deep learning techniques and specifically Neural Machine Translation. Compared to conventional statistical and rule-based translation algorithms, Neural Machine Translation uses deep learning models to provide translation that is more accurate and sounds more human. This translation service leverages EasyNMT (https://github.com/UKPLab/EasyNMT) package for fast and accurate translations and FastAPI (https://github.com/tiangolo/fastapi)for API calls. Finally, we target to provide asynchronous batch processing, with a single API call, in order to translate large collections of JSON files in a few seconds. </span>
    </div>
    <div class="row d-flex justify-content-center space">
        <p-tabView [activeIndex]="tabActiveIndex" (onChange)="handleTabChange($event)" class="tabpanel-width">
            <p-tabPanel header="JSON Format">
                <app-json-translator [languages]="languages"></app-json-translator>
            </p-tabPanel>
            <p-tabPanel header="Raw text">
                <app-raw-text-translator [languages]="languages"></app-raw-text-translator>
            </p-tabPanel>
            <p-tabPanel header="Language Detection">
                <app-language-detection></app-language-detection>
            </p-tabPanel>
            <p-tabPanel header="Audio Recording">
                <app-audio-recorder></app-audio-recorder>
            </p-tabPanel>
        </p-tabView>
        
        
    </div>
</div>