<div class="d-flex justify-content-center" style="flex-direction: column;">
    <div class="row justify-content-center">
        <h4 class="text-style">Insert raw text to detect the language</h4>
        <textarea [(ngModel)]="textToDetectLanguage" style="background: transparent;border: 1px solid;padding: 10px;width: 50vw;" rows="5" cols="30" pInputTextarea></textarea>
    </div>
    <div class="row space" style="justify-content: center;">
        <button style="width: auto;" (click)="textLanguageDetection()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Detect Language</button>
    </div>
</div>

<div *ngIf="languageDetectionResult" class="d-flex space results">
    <h5 style="padding-left: unset!important">Result</h5>
    <span style="font-weight: bold;">{{languageDetectionResult}}</span>
</div>